<!DOCTYPE html>
<html lang="en">

<head>
  <title>MusicTheory</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/audioplayer.css">
  <script src="../js/audioplayer.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="https://i.imgur.com/klb48sZ.png" width="30" height="30" class="d-inline-block align-top" alt="">
      MusicTheory
    </a>
    <!--D: Navbar now collapses into buttons when window is minimized-->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/playlists">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Popular">Popular Songs</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link " href="/searchPageGenre" >Top Genres</a>
          
            
            
            
          </div>
        </li> -->
      </ul>

      <form id="artist-search" action="/artist-search" method="GET" class="form-inline my-2 my-lg-0" style="margin-right: 25px;">
        <input class="artist-search-input form-control mr-sm-2" type="text" placeholder="Artist name"  name="artistName">
        <button class="btn btn-secondary my-2 my-sm-0">Search</button>
      </form>

      <a class="navbar-brand" href= <%= signedinlink %>><%= signedin %></a>
      <a class="navbar-brand" href='/logout'><%= logout %></a>

    </div>
  </nav>

<!-- Deleted nav bar -->
  <!-- <nav class="navbar fixed-bottom navbar-light bg-dark">
    <div class="col-1">
      <h4 style="color: white; text-align: center;">Previous</h2>
    </div>
    <div class="col-2">
      <h2 id="song-title" style="color: white; text-align: center;">No Song Selected</h2>
      <h3 id="artist-name" style="color: white; text-align: center;"></h3>
    </div>
    <div class="col-1">
      <h4 style="color: white; text-align: center;">Next</h2>
    </div>
    <div class="container-audio col-7">
      <audio controls autoplay loop id="player">
          <source src="" type="audio/mp3">
          Your browser dose not Support the audio Tag
      </audio>
  </div>
  </nav> -->
</body>

  <div class="jumbotron">
    <h1>Welcome to MusicTheory!</h1>
    <p>Our webapp aims to provide a comfortable music listening experience to everyone!</p>
    <!--<button id="myButton">Click me!</button>-->
    <!-- <button onclick="playSong('01-Battery.mp3')">Play Happy Birthday!</button> -->
  </div>

</body>


<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div>
  <br><br>
      <h1>Genres</h1>
  <br>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://i.pinimg.com/originals/f8/6c/b7/f86cb7c45ae3afc8d990e5a90ae08b09.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/37i9dQZF1DX48TTZL62Yht" class="stretched-link"><h4 class="card-title">Hip Hop</h3></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.pinimg.com/originals/15/77/e1/1577e162a5bd4bf1779e865d99ac926c.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/37i9dQZF1DWXRqgorJj26U" class="stretched-link"><h4 class="card-title">Rock</h3></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.pinimg.com/originals/26/eb/e9/26ebe9788b358c734a2851048d05b12c.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/3ZgmfR6lsnCwdffZUan8EA" class="stretched-link"><h4 class="card-title">Pop</h3></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://roughstock-production.s3.amazonaws.com/2017/10/LukeBryan-WhatMakesYouCountry-Cover-2017-610.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/37i9dQZF1DX1lVhptIYRda" class="stretched-link"><h4 class="card-title">Country</h3></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://library.wustl.edu/wp-content/uploads/2016/02/mghl_visual.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/37i9dQZF1DWWEJlAGA9gs0" class="stretched-link"><h4 class="card-title">Classical</h3></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.pinimg.com/236x/22/6d/eb/226deb099ebab5d1a7831e2eece63f4d.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/37i9dQZF1DWWOaP4H0w5b0" class="stretched-link"><h4 class="card-title">Metal</h3></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://cdn.music-artworks.com/wp-content/uploads/2020/04/NOVA-min.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/2AMSyBkXMTXMhIs7Co5MPq" class="stretched-link"><h4 class="card-title">EDM</h3></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://i.pinimg.com/236x/16/26/c7/1626c7d97b42693bec45d4dde196128c--lp-covers-music-covers.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/05Hd48jdQIz3s8WRrvGnzf" class="stretched-link"><h4 class="card-title">Jazz</h3></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

  <div class="row">
  <div class="col-1"></div>
  <div class="col-5">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://i.pinimg.com/236x/bc/83/54/bc8354d7b0655f22278b37011e3c6037--buddy-guy-blues-rock.jpg" alt="Card image">
        <div class="card-body text-center">
          <a href="SearchPageGenre/4zNKkcW6QS0NExoQ6bYGcE?" class="stretched-link"><h4 class="card-title">Blues</h3></a>
        </div>
      </div>
  <div class="card">
        <div class="card-body text-center">
    <br><br><br><br><br>
          <h4 class="card-title">See more...</h3>
            <a href="/playlists" class="card-link">Click here!</a>
        </div>
      </div>
  
    </div>
  </div>
  <div class="col-1"></div>
</div>

<br>
<br>



</html>