<!DOCTYPE html>
<html lang="en">

<head>
  <title>MusicTheory</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/audioplayer.css">
  <script src="../js/audioplayer.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="https://i.imgur.com/klb48sZ.png" width="30" height="30" class="d-inline-block align-top" alt="">
      MusicTheory
    </a>
    <!--D: Navbar now collapses into buttons when window is minimized-->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/playlists">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Popular Songs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Top Genres</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="SearchPageGenre.ejs">Hip Hop</a>
            <a class="dropdown-item" href="SearchPageGenre.ejs">Rock</a>
            <a class="dropdown-item" href="SearchPageGenre.ejs">See more...</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" style="margin-right: 25px;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <a href="/search" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <a class="navbar-brand" href="/signin">Sign In</a>

    </div>
  </nav>


  <nav class="navbar fixed-bottom navbar-light bg-dark">
    <div class="col-1">
      <h4 style="color: white; text-align: center;">Previous</h2>
    </div>
    <div class="col-2">
      <h2 id="song-title" style="color: white; text-align: center;">No Song Selected</h2>
      <h3 id="artist-name" style="color: white; text-align: center;"></h3>
    </div>
    <div class="col-1">
      <h4 style="color: white; text-align: center;">Next</h2>
    </div>
    <div class="container-audio col-7">
      <audio controls autoplay loop id="player">
          <source src="" type="audio/mp3">
          Your browser dose not Support the audio Tag
      </audio>
  </div>
  </nav>
</body>

  <div class="jumbotron">
    <h1 style="position: absolute; left: 8.5%;">Playlists</h1>
	<br><br>
	<p style="position: absolute; left: 8.5%;">Search through playlists you have already created</p>
	<br><br>
	<form class="form-inline my-2 my-lg-0" style="position: absolute; margin-right: 25px; left: 8.5%;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <a href="/search" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button></a>
     </form>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div>
        <h1>Playlists Recently Listened to</h1>
		<br>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://i.redd.it/kpzuzx98ett11.jpg" alt="Card image">
          <div class="card-body text-center">
            <a href="PlaylistTemplate.ejs" class="stretched-link"><h4 class="card-title">Working at the Chum Bucket</h3></a>
              <p class="card-text">My Playlist</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://image.shutterstock.com/image-vector/tuna-fish-holding-can-260nw-282453410.jpg" alt="Card image">
          <div class="card-body text-center">
            <a href="PlaylistTemplate.ejs" class="stretched-link"><h4 class="card-title">Cloudy with a Chance of Tuna Fish</h3></a>
              <p class="card-text">My Playlist</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/7/78/Riseagainsttheblackmarket.jpg" alt="Card image">
          <div class="card-body text-center">
            <a href="PlaylistTemplate.ejs" class="stretched-link"><h4 class="card-title">Running to Montana</h3></a>
              <p class="card-text">Michie's Playlist</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-title">View All Playlists</h3>
              <a href="/playlists" class="card-link">Click here!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  
  <div class="row">
	<div class="col-1"></div>
    <div class="col-2">
      <div>
		<br>
        <h1>Make a Playlist</h1>
		<br>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/000/363/962/non_2x/vector-plus-sign-line-black-icon.jpg" alt="Card image">
          <div class="card-body text-center">
            <a href="#" class="stretched-link"><h4 class="card-title">Create New Playlist</h3></a>
          </div>
        </div>
      </div>
    </div>
	<div class="col-1"></div>
  </div>

  <br>
  <br>

  <div>They said to put easter eggs in.</div>
  <div>To improve the user experience.</div>
  <div>This will be covered by the music player,</div>
  <div>but it helps keep the albums above it.</div>



</html>