<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Music Theory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css'>
<link rel="stylesheet" href="../css/profilepage.css">
</head>

<body>
<!-- partial:profilepage.partial.html -->
<div id="wrapper__account">
  <div class="row wrapper__account--top">
    <div class="col-sm-12">
      <h4 class="account-panel"> <i class="fa fa-cog"></i> Account Panel</h4>
      <div class="account__user">
        <h4>Welcome, Geoffrey</h4>
        <p id="free">Account Type : <span>Free</span></p>
        
           <!--D : Made small edit to link to Home and Search pages-->
        <p id="links">
           <a href="/">Home</a> &nbsp;
           <a href="/search">Explore</a> 
          </p>
      </div>
        
      </div>
    </div>
    
    <div class="col-sm-12">
      <ul class="tab-menu">
        <li class="active"><a> <i class="fa fa-user visible-xs-inline-block"></i><span class="hidden-xs">PERSONAL PROFILE</span></a></li>
      </ul>
    </div>
  </div>

  <div class="row wrapper__personal">
    <div class="container line-vertical" id="line-vertical">
      <h4 class="text-profile">Profile</h4>
      <div class="col-sm-5">
        <form class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Full Name</label>
              <input class="form-control" type="text" placeholder="Your full name..." value="Geoffrey Wang"/>
            </div>
            <div class="form-group">
              <label>Phone number</label>
              <div class="row">
                <div class="col-xs-4 col-phone--left">
                  <div class="form-group">
                    <select class="selectpicker" data-width="100%" data-live-search="true" data-size="5">
                      <option>+1 - US</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-8 col-phone--right">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Your phone number..." value="6462868109"/><small class="pull-right">Example: (+1)XXXXXXXXXX</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group has-error">
              <label>Email Address</label>
              <input class="form-control" type="email" disabled="disabled" value="gwang25@buffalo.edu"/>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-5 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Profile Image</label>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-8 col-md-6 col-lg-5">
                <div class="form-group"><a id="img_profile">
                    <div class="img-profile" style="background-image: url('https://raw.githubusercontent.com/UB-CSE/course-project-musictheory/accountpage-geoffrey/images/profile%20pic.jpg')" data-toggle="modal" data-target="#modal_upload"></div>
                    <div class="camera-icon" data-toggle="modal" data-target="#modal_upload"><i class="fa fa-camera fa-lg"></i><span class="hidden-xs">&nbsp;&nbsp;Upload image</span></div></a></div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-4 col-lg-5 bottom-column col-phone--right control-upload" style="display: none">
                <button class="btn btn-gray btn-sm btn-block" id="btn_remove_image">Remove</button>
                <div class="form-group">
                  <button class="btn btn-base btn-sm btn-block" data-toggle="modal" data-target="#modal_crop_image">Edit image</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center save-change-container">
            <button class="btn btn-base btn-md" id="save_changed">Save changes</button>
          </div>
        </div>
      </div>
    </div><br/>
    <hr/>
    <div class="container">
          <h4 class="text-profile">Password</h4> 
          <div class="col-sm-6">
            <form class="row">
              <div class="col-sm-12">
                <div class="form-group" id="show_old_password">
                  <label>Password</label><a class="btn-change-password pull-right">
                    <label>Change Password</label></a>
                  <input class="form-control" type="password" disabled="disabled" value="1234567890"/>
                </div>
              </div>
          <div id="hidden_change_password">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Old Password</label>
                <input class="form-control" id="old_password" type="password"/>
              </div>
              <div class="form-group">
                <label>New Password</label>
                <input class="form-control" type="password"/>
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password"/>
              </div>
            </div>
            <div class="col-sm-8 col-md-9">
              <div class="form-group text-right"><a class="btn btn-base btn-block" id="save_new_password">Save new password</a></div>
            </div>
            <div class="col-sm-4 col-md-3 no-padding-left">
              <div class="form-group text-right"><a class="btn btn-gray btn-block" id="cancel">Cancel</a></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- partial -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src='https://use.fontawesome.com/8decb1aa86.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js'></script>
<script  src="../js/profilepage.js"></script>

</body>
</html>
