<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Music Theory</title>
  <link rel="stylesheet" href="../css/audioplayer.css">
  <script src="../js/audioplayer.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/searchpage.css">
    <title>Music Theory Search Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="https://i.imgur.com/klb48sZ.png" width="30" height="30" class="d-inline-block align-top" alt="">
      MusicTheory
    </a>
    <!--D: Navbar now collapses into buttons when window is minimized-->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/playlists">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Popular Songs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Top Genres</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Hip Hop</a>
            <a class="dropdown-item" href="#">Rock</a>
            <a class="dropdown-item" href="#">See more...</a>
          </div>
        </li>
      </ul>

      <form id="artist-search" action="/artist-search" method="GET" class="form-inline my-2 my-lg-0" style="margin-right: 25px;">
        <input class="artist-search-input form-control mr-sm-2" type="text" placeholder="Artist name"  name="artistName">
        <button class="btn btn-secondary my-2 my-sm-0">Search</button>
      </form>

      <a class="navbar-brand" href="/signin">Sign In</a>

    </div>
  </nav>

  <nav class="navbar fixed-bottom navbar-light bg-dark">
    <div class="col-1">
      <h4 style="color: white; text-align: center;">Previous</h2>
    </div>
    <div class="col-2">
      <h2 id="song-title" style="color: white; text-align: center;">No Song Selected</h2>
      <h3 id="artist-name" style="color: white; text-align: center;"></h3>
    </div>
    <div class="col-1">
      <h4 style="color: white; text-align: center;">Next</h2>
    </div>
    <div class="container-audio col-7">
      <audio controls autoplay loop id="player">
          <source src="" type="audio/mp3">
          Your browser dose not Support the audio Tag
      </audio>
  </div>
  </nav>
</body>

<header class=" header container-fluid">

<div class="overlay">
<br>
<br>
<form class="form-inline active-purple-3" style="position: absolute; margin-right: 25px; width: 400px; left:35%;">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-5 w-75" type="text" placeholder="Search Songs, Albums, Artists..." aria-label="Search">
  <a href="/failedsearch" class="button">Search</a>
  
</form>
<DIV style="position:absolute; TOP:140px; LEFT:39%; WIDTH:400px; HEIGHT:25px; font-weight:bold; color:white; font-size:40px">Recently Searched:</DIV>
<a href="https://www.youtube.com/watch?v=WiwWgN5O3WQ">
<IMG STYLE="position:absolute; TOP:240px; LEFT:17%; WIDTH:300px; HEIGHT:300px" SRC="https://elmodenafrontline.com/wp-content/uploads/2015/04/unnamed_34.jpg">
</a>
<a href="https://www.youtube.com/watch?v=WiwWgN5O3WQ">
<DIV style="position:absolute; TOP:560px; LEFT:18%; WIDTH:280px; HEIGHT:25px; font:utf-8; font-weight:bold; color:white; font-size:20px">Lord Huron - Strange Trails</DIV>
</a>
<a href="https://www.youtube.com/watch?v=fWD9GF-Ogf4">
<IMG STYLE="position:absolute; TOP:240px; LEFT:42%; WIDTH:300px; HEIGHT:300px" SRC="https://upload.wikimedia.org/wikipedia/en/thumb/4/4d/The_life_of_pablo_alternate.jpg/220px-The_life_of_pablo_alternate.jpg">
</a>
<a href="https://www.youtube.com/watch?v=fWD9GF-Ogf4">
<DIV style="position:absolute; TOP:560px; LEFT:43%; WIDTH:280px; HEIGHT:25px; font:utf-8; font-weight:bold; color:white; font-size:20px">Kanye West - Real Friends ft. Ty Dolla $ign</DIV>
</a>
<a href="https://www.youtube.com/watch?v=fh3zE7wWD4E">
<IMG STYLE="position:absolute; TOP:240px; LEFT:67%; WIDTH:300px; HEIGHT:300px" SRC="https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/Vampire_Weekend_Horchata.jpg/220px-Vampire_Weekend_Horchata.jpg">
</a>
<a href="https://www.youtube.com/watch?v=fh3zE7wWD4E">
<DIV style="position:absolute; TOP:560px; LEFT:68%; WIDTH:280px; HEIGHT:25px; font:utf-8; font-weight:bold; color:white; font-size:20px">Vampire Weekend - Horchata</DIV>
</a>
<a style="position:absolute; TOP:660px; LEFT:41%; WIDTH:280px; HEIGHT:25px; font:utf-8; font-weight:bold; color:pink; font-size:20px" href="FailedSearch.ejs">View all recent searches</a>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Search by Genre</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="SearchPageGenre.ejs">Pop</a>
    <a href="SearchPageGenre.ejs">Country</a>
    <a href="SearchPageGenre.ejs">Classical</a>
	<a href="SearchPageGenre.ejs">Hip Hop</a>
	<a href="SearchPageGenre.ejs">Rock</a>
	<a href="SearchPageGenre.ejs">Metal</a>
	<a href="SearchPageGenre.ejs">Jazz</a>
	<a href="SearchPageGenre.ejs">Blues</a>
	<a href="SearchPageGenre.ejs">EDM</a>
  </div>
</div>

</div>

</header>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="../js/searchpage.js"></script>
</body>
</html>