@import "https://fonts.googleapis.com/css?family=Kanit:200,300,400";
html, body {
  font-family: 'Kanit', sans-serif;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type="text"],
.bootstrap-select > button {
  border-radius: 0;
  border: 1px solid #bbb;
}

body {
  background: #f2f2f2;
  padding: 1.5rem;
  color: #555;
}

#wrapper__account {
  background: white;
}

.wrapper__account--top {
  padding: 2rem 0 0;
  margin-left: 0;
  margin-right: 0;
}

/* Account Panel on Top */
.account-panel {
  margin-bottom: 20px;
}

.account_user {
  border: 1px solid #e6e6e6;
  background: #f2f2f2;
  padding: 1.8rem 2rem;
  margin-bottom: 3rem;
}

.account_user p {
  color: #888;
  margin: 0;
}

.account_user p > span {
  color: #ff7f50;
}

/****************************************/

/* Tabs in Account */
.tab-menu {
  margin: 0;
  padding: 0;
}

.tab-menu li {
  list-style-type: none;
  display: inline-block;
}

.tab-menu li.active > a {
  border-color: #cfcfcf #cfcfcf transparent #cfcfcf;
  background: white;
  color: #5f5f5f;
}

.tab-menu li a {
  display: block;
  color: #8d8d8d;
  border-style: solid;
  border-width: 2px;
  border-color: #cfcfcf;
  background: #f2f2f2;
  padding: 4px 15px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
}

/****************************************/

.line-vertical.container {
  position: relative;
  overflow: hidden;
}
.line-vertical.container::after {
  position: absolute;
  width: 1px;
  height: 330px;
  background: #cfcfcf;
  top: 0;
  left: 51%;
}

.wrapper__personal {
  border-top: 2px solid #cfcfcf;
  height: auto;
  padding: 2rem 0;
  margin-left: 0;
  margin-right: 0;
}

/* Personal Profile */
.text-profile {
  margin: 3rem 0;
  color: #333;
}

#img_profile {
  cursor: pointer;
  position: relative;
  display: block;
  border: 1px solid #eee;
}
#img_profile:hover > .camera-icon {
  background: rgba(0, 0, 0, 0.3);
}
#img_profile:hover > .camera-icon > span {
  visibility: visible;
}
#img_profile .camera-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -webkit-transition: 200ms;
  transition: 200ms;
}
#img_profile .camera-icon > span {
  visibility: hidden;
}

.img-profile {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

/****************************************/

/* Phone */
.bottom-column {
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
}

.col-phone--left {
  padding-right: 0;
}

.col-phone--right {
  padding-left: 0;
  margin-left: -1px;
  z-index: 100;
}
/****************************************/

.save-change-container {
  margin-top: 30px;
  display: block;
}

/* Passwords */
.click-here, .btn-change-password {
  color: #ff7f50;
  cursor: pointer;
}

.click-here:hover, .btn-change-password:hover {
  color: #ffa483;
  text-decoration: underline;
}

#hidden_change_password {
  display: none;
}

.form-control {
  border-radius: 0 !important;
}

.form-control:focus {
  border-color: #ff7f50 !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.no-padding-left {
  padding-left: 15px;
}

#save_changed, #save_new_password, #cancel {
  padding: 10px 25px;
}

/****************************************/

/* Buttons */
.btn-base {
  background: #ff7f50;
  color: #fff;
  border: 1px solid #ff5a1d;
}

.btn-default.active, .btn-default:active, .btn-default:focus, .open > .dropdown-toggle.btn-default, .btn-default:hover {
  background-color: white !important;
  outline: none !important;
}

.btn-base.btn-sm {
  padding: 6px 15px;
}

.btn-base:hover, .btn-base:focus {
  background: #ff6c37;
  color: #eee;
  outline: none !important;
}

.btn-base:active {
  background: #ff5a1d;
}

.btn-gray {
  background: #ccc;
  color: #fff;
  border: 1px solid #b3b3b3;
}

.btn-gray.btn-sm {
  padding: 6px 15px;
}

.btn-gray:hover, .btn-gray:focus {
  background: #bfbfbf;
  color: #eee;
  outline: none !important;
}

.btn-gray:active {
  background: #b3b3b3;
}

.btn-change-password > label {
  cursor: pointer;
}

/****************************************/
